body{
		background-color: #4B4B4B;

}

h2{
	text-align: center;
	margin: 0px;
}


#Header{
	background-color: #FCFCF9;
}


.my-name {
    color: #4A4A4A;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
}


.my-picture{
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 0px 20px 5px 0px;
    padding: 4px;
}


.my-caption {
    border-bottom: 1px dotted #389B17;
    color: #389B17;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    text-transform: uppercase;
}

.padding{
	padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}


